h2{
    color:#006EB6;
    font-size: medium;
}

header{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1;
    padding-top: 30px;
    border-bottom: 2px solid gray;
}
body{
    font: 20px;
    font-family: 'Times New Roman', Times, serif;
    max-width: 600px;
    margin: auto;
    line-height: 1.5;
    padding: 20px;
}
img{
    width: 150px;
    height: auto;
}
footer{
    display: flex;
    justify-content: center; 
    align-items: center;  
    margin:10px;           
}

h1{
    font-size: 40px;
}
li{
    margin-bottom: 1em;
}
statement{
    margin: 60px;
}